@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2> Alumno</h2>
    </div>
    <hr />
    <div class="row">
        <div style="float:right">

            @Html.ActionLink("Agrega Alumno ", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <div class="row">
        @if (Model.Alumnos  != null)
        {
            //tabla
            <table class="table table.borderes table.responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre Alumno</td>
                        <td class="text-center" style=" font-weight:bold;"> Apellido Paterno</td>
                        <td class="text-center" style=" font-weight:bold;"> Apellido Materno</td>
                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Alumno alumno in Model.Alumnos)
                    {
                        <tr>
                            <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno})"></a></td>
                           
                            <td>@alumno.Nombre</td>
                            <td>@alumno.ApellidoPaterno</td>
                            <td>@alumno.ApellidoMaterno</td>
                            <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno})" onclick="return confirm('¿Desea eliminar el alumno?');"></a></td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>

