@model ML.AlumnoMateria
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materias Asignadas</h2>

<div class="container">
    <div class="row">
    </div>
    <hr />
    <div class="row">
        <div style="float:right">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success " href="@Url.Action("MateriasSinAsignar", "AlumnoMateria", Model.Alumno)">Agregar Materia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group hidden">
            @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "control-label col-md-2 hidden" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control hidden", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Alumno.Nombre, new { @class = "control-label", @readonly = true })
                @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.Nombre)
            </div>


            <div class="col-md-2">
                @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno", new { @class = "control-label", @readonly = true })
                @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno", new { @class = "control-label", @readonly = true })
                @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<div class="row">
       
        <table class="table table.borderes table-bordered bg-warning"  >
            <thead>
                <tr>
                    <td class="text-center" style=" font-weight:bold;">Nombre Materia</td>
                    <td class="text-center" style=" font-weight:bold;">Costo</td>

                    <td class="text-center" style=" font-weight:bold;">Eliminar</td>

                </tr>
            </thead>
            <tbody>
                @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnoMaterias)
                {
                    <tr>


                        <td>@alumnoMateria.Materia.NombreMateria</td>
                        <td>@alumnoMateria.Materia.Costo</td>

                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "AlumnoMateria", new { IdAlumnoMateria = alumnoMateria.IdAlumnoMateria, IdAlumno = alumnoMateria.Alumno.IdAlumno})" onclick="return confirm('¿Desea eliminar la materia del alumno?');"></a></td>

                    </tr>
                }
            </tbody>
        </table>
       
</div>


