@model ML.AlumnoMateria
@{
    ViewBag.Title = "MateriasSinAsignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materias sin asignar al alumno </h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("MateriasSinAsignar", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "control-label col-md-2 hidden" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control hidden", @readonly = true })
                        @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Alumno.Nombre, new { @class = "control-label", @readonly = true })
                        @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(model => model.Alumno.Nombre)
                    </div>


                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno", new { @class = "control-label", @readonly = true })
                        @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno", new { @class = "control-label", @readonly = true })
                        @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <table class="table table.borderes table-bordered bg-warning">
                    <thead>
                        <tr>
                            <td class="text-center" style=" font-weight:bold;">Agregar Materia</td>
                            <td class="text-center" style=" font-weight:bold;">Nombre Materia</td>
                            <td class="text-center" style=" font-weight:bold;">Costo</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnoMaterias)
                        {
                            <tr>
                                <td class="text-center hidden">
                                    @alumnoMateria.Materia.IdMateria
                                </td>
                                <td class="text-center">
                                    <input class=" form-check-input"type="checkbox" value="@alumnoMateria.Materia.IdMateria" name="AlumnoMaterias">
                                </td>
                                <td>@alumnoMateria.Materia.NombreMateria</td>
                                <td>@alumnoMateria.Materia.Costo</td>


                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group col-md-12">
                    <div class="text-right">
                        <input class="btn btn-success" type="submit" value="Actualizar" />
                        <a class="btn btn-danger" href="@Url.Action("Form", "AlumnoMateria", new { IdAlumno = Model.Alumno.IdAlumno })"> Regresar</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

