@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materia</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class=" form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IdMateria, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.IdMateria, new { @class = "hidden form-control" })
                        @Html.ValidationMessageFor(model => model.IdMateria)
                        @*hidden*@
                    </div>
                </div>
                <div class="row">
                    <div class=" form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NombreMateria)
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
                                @Html.TextBoxFor(model => model.NombreMateria, new { @class = "form-control", @id = "txtNombre" })

                                @Html.ValidationMessageFor(model => model.NombreMateria)
                            </div>
                        </div>

                    </div>

                    <div class=" form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Costo)
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
                                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control", @id = "txtCosto" })

                                @Html.ValidationMessageFor(model => model.Costo)
                            </div>
                        </div>

                    </div>
                   
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Materia", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
